:root {
  --form-component-highlight-color: #9b2eff;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 16rem;
  height: 16rem;
  font-family: sans-serif;
  background-color: rgb(235 235 255);
}

.form-component {
  position: relative;
  width: 12rem;
}

.form-component-label {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  transition: font-size 0.5s 0s, color 0.5s 0s;
}

.form-component-input {
  width: 100%;
  height: 100%;
  padding-top: 1.5rem;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: none;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  transition: height 0.5s 0s, padding 0.5s 0s, border-bottom-color 0.5s 0s;
}

.form-component-input:focus,
.form-component-input:valid {
  padding-top: 1.5rem;
  border-bottom-color: var(--form-component-highlight-color);
}

.form-component-input:focus + .form-component-label,
.form-component-input:valid + .form-component-label {
  font-size: 0.75rem;
  color: var(--form-component-highlight-color);
}
